.card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: auto;
}

.card-title {
  font-size: 1.5rem;
}

.card-img {
  max-width: 300px;
}

.card-price,
.card-btn {
  font-size: 1.5rem;
}
